<main class="radio">

  <header class="station-header">

    <div class="app-title">
      うたかた電波
    </div>

    <div class="station-name">
      ほとりFM
    </div>

    <div class="frequency">
      77.4 MHz
    </div>

  </header>

  <section class="on-air">

    <span class="lamp"></span>
    <span>ON AIR</span>

  </section>


  <section class="broadcast-selector">

    <label for="broadcastSelect">
      放送を選ぶ
    </label>

    <select
      id="broadcastSelect"
      [(ngModel)]="currentBroadcastId"
      (change)="changeBroadcast()"
    >
      <option
        *ngFor="let broadcast of broadcasts"
        [value]="broadcast.id"
      >
        {{ broadcast.title }}
      </option>
    </select>

    <button
      class="receive-button"
      (click)="startReceiving()"
      [disabled]="isReceiving"
    >
      {{ isReceiving ? '受信中…' : '受信する' }}
    </button>

  </section>


  <section class="broadcast">

    <p class="broadcast-label">
      LOCAL NEWS
    </p>

    <h1>
      {{ currentBroadcast.title }}
    </h1>

    <div
      class="script"
      [class.is-lost]="isLost"
    >

      <div
        class="script-line"
        *ngFor="let line of displayedScriptLines"
      >

        <span
          *ngFor="let item of line"
          [class.glitch-square]="item.corrupted"
        >
          {{ item.char }}
        </span>

      </div>


      <div class="last-sentence">

        <span
          *ngFor="let item of displayedLastSentence"
          [class.glitch-square]="item.corrupted"
        >
          {{ item.char }}
        </span>

      </div>


      <div class="final-signal">

        <span
          *ngFor="let item of displayedFinalSignal"
          [class.glitch-square]="item.corrupted"
        >
          {{ item.char }}
        </span>

      </div>

    </div>


    <audio
      #audioPlayer
      [src]="currentBroadcast.audio"
      (timeupdate)="onTimeUpdate()"
      (loadedmetadata)="onAudioLoaded()"
      (ended)="onAudioEnded()"
    >
    </audio>


    <div class="radio-player">

      <div class="player-time">

        <span>
          {{ formatTime(currentTime) }}
        </span>

        <span>
          {{ formatTime(audioDuration) }}
        </span>

      </div>


      <input
        class="seek-bar"
        type="range"
        min="0"
        [max]="audioDuration || 0"
        step="0.01"
        [value]="currentTime"
        (input)="seekAudio($event)"
      />


      <div class="player-controls">

        <button
          class="play-button"
          (click)="togglePlay()"
          [disabled]="!audioDuration"
        >
          {{ isPlaying ? 'Ⅱ' : '▶' }}
        </button>

        <span class="player-status">
          {{ isPlaying ? 'RECEIVING' : 'STANDBY' }}
        </span>

      </div>

    </div>

  </section>


  <footer>

    <span>
      ほとりFM
    </span>

    <span>
      LOCAL RADIO
    </span>

    <a
      href="https://xiloucha.github.io/hotori-ss/"
      target="_blank"
      rel="noopener"
      class="hotori-link"
    >
      保存領域
    </a>

  </footer>

</main>